{
    "address": "t3-org3-chaincode:7075",
    "dial_timeout": "10s",
    "tls_required": true,
    "client_auth_required": false,
    "client_key": "-----BEGIN EC PRIVATE KEY----- ... -----END EC PRIVATE KEY-----",
    "client_cert": "-----BEGIN CERTIFICATE----- ... -----END CERTIFICATE-----",
    "root_cert": "ROOT_CERT_VALUE"
}